---
import HTML from "../../layouts/HTML/HTML.astro";
import { Image } from 'astro:assets';
import MarkPicture from '../../assets/Mark.jpg'

---

<HTML>
    <section class="container mx-auto max-w-[70rem] ">
        <div class="lg:flex items-center">
            <div class="max-w-[40rem] px-20 space-y-5 sm:text-center">
                <h2 class="text-xl font-semibold">MAX Solutions: <span class="text-blue">Media Advisory EXperts</span> </h2>
                <p>harnesses decades of journalism and
                    communications experience to deliver insightful and actionable advice and
                    analysis of the media landscape and how to get tailored results for its clients.
                    Video production services are available for corporate messagin
                    g; judicial videos,
                    including for early litigation, case settlement, trials, and day
                    -
                    in
                    -
                    the
                    -
                    life segments;
                    for training purposes, and more.
                    In addition, we offer media trainings for executives, thought leaders and anyone
                    who wants to prepare themselves f
                    or on
                    -
                    camera availabilities, as well as
                    curriculum and training for journalists.</p>
            </div>
            <div class="">
                <Image src={MarkPicture} width='350' height="350" alt="mark pic" />
            </div>
        
        </div>
    </section>
</HTML>
