---
import {
  YoutubeVideo,
  BackGroundImage,
  HeadingText,
  MarkText,
  TeamSupport,
  HTML,
  Image,
  NewsChannelLogos,
} from "@utils/Components";
import { MarkPicture, HoldingHands, AboutPagebanner } from "@utils/images";
---

<HTML title="About - Media Advisory Experts">
  <BackGroundImage imageSource={AboutPagebanner} text="ABOUT US" />
  <section class="border-b-[0.1px] border-lightgray">
    <div class="lg:container lg:mx-auto lg:py-12 md:pt-20 sm:py-10">
      <div
        class="grid lg:grid-cols-1 md:grid-cols-1 sm:grid-rows-1 gap-4 xl:mx-[80px] lg:mx-[40px] md:mx-[40px] sm:mx-6"
      >
        <div class="lg:text-xl md:text-base text-center">
          <HeadingText />
        </div>
      </div>
    </div>
  </section>
  <section class="lg:container lg:mx-auto lg:py-12 md:pt-20 sm:pt-10 space-y-2">
    <h2
      class="lg:text-4xl md:text-2xl sm:text-2xl font-[Poppins] font-black text-center"
    >
      Mark Albert
    </h2>
    <p
      class="lg:text-xl md:text-base sm:text-base font-[Poppins] font-semibold text-center"
    >
      Founder & CEO
    </p>
    <div
      class="grid lg:grid-cols-8 md:grid-cols-2 sm:grid-cols-2 gap-4 lg:mx-[100px] md:mx-[40px] lg:pt-10 lg:pb-0 md:py-10 sm:py-10 sm:mx-6"
    >
      <div
        class="lg:items-start col-span-3 sm:flex sm:items-center sm:justify-center lg:w-full sm:max-w-full"
      >
        <Image
          src={MarkPicture}
          alt="mark pic"
          class="rounded-lg lg:w-full lg:h-auto md:w-[80%] sm:w-full sm:h-auto"
        />
      </div>
      <div class="col-span-1 lg:block md:hidden sm:hidden"></div>
      <div class="col-span-4 max-w-[80rem] space-y-5 text-left">
        <MarkText />
      </div>
    </div>
  </section>
  <section
    class="lg:pt-12 md:pt-10 space-y-2 border-y-[0.1px] border-lightgray"
  >
    <div class="lg:container lg:mx-auto lg:pt-0 lg:pb-12 sm:py-10">
      <NewsChannelLogos />
    </div>
  </section>
  <section class="lg:pt-12 md:pt-10 space-y-2">
    <div class="lg:container lg:mx-auto lg:pt-0 lg:pb-12 sm:py-10">
      <YoutubeVideo />
    </div>
  </section>
  <section
    class="lg:pt-12 md:pt-10 sm:pt-10 space-y-2 border-t-[0.1px] border-lightgray"
  >
    <div class="lg:container lg:mx-auto sm:py-0">
      <div
        class="grid lg:grid-cols-8 md:grid-cols-2 sm:grid-cols-2 gap-4 lg:mx-[100px] md:mx-[40px] sm:mx-6 lg:pt-0 md:pt-20 sm:pt-0"
      >
        <div class="col-span-4 lg:py-8 md:py-10 text-left">
          <TeamSupport />
        </div>
        <div class="col-span-1 lg:block md:hidden sm:hidden"></div>
        <div class="col-span-3 flex justify-end pb-10">
          <Image
            src={HoldingHands}
            alt="mark pic"
            class="h-full w-full rounded-lg"
          />
        </div>
      </div>
    </div>
  </section>
</HTML>
