---
import Accordion from "./accordion";
import "./accordion.css";
---

<div class="accordion-container">
  <div
    class="border-t-[0.1px] border-lightgray font-bold text-[16px] text-black py-[16px] px-[32px]"
  >
    <a href="/About" class="hover:text-blue">ABOUT</a>
  </div>
  <div class="ac">
    <h2 class="ac-header">
      <button type="button" class="ac-trigger hover:text-blue">
        VIDEO PRODUCTION</button
      >
    </h2>
    <div class="ac-panel">
      <p
        class="ac-text hover:text-blue cursor-pointer border-y-[0.1px] border-lightgray"
      >
        <a href="/Video_production">CORPORATE VIDEOS</a>
      </p>
      <p class="ac-text hover:text-blue">
        <a href="/Video_production/#Legal"> LEGAL VIDEOS</a>
      </p>
    </div>
  </div>

  <div class="ac">
    <h2 class="ac-header">
      <button type="button" class="ac-trigger hover:text-blue">
        MEDIA TRAINING/COACHING</button
      >
    </h2>
    <div class="ac-panel">
      <p class="ac-text hover:text-blue border-y-[0.1px] border-lightgray">
        <a href="/Media_training">FOR LEADERS</a>
      </p>
      <p class="ac-text hover:text-blue">
        <a href="/Media_training#for-journalists">FOR JOURNALISTS</a>
      </p>
    </div>
  </div>

  <div class="ac">
    <h2 class="ac-header">
      <button type="button" class="ac-trigger hover:text-blue">
        STRATEGIC CONSULTING</button
      >
    </h2>
    <div class="ac-panel">
      <p class="ac-text hover:text-blue border-y-[0.1px] border-lightgray">
        <a href="/Strategic_consulting "> EARNED MEDIA</a>
      </p>
      <p class="ac-text hover:text-blue">
        <a href="/Strategic_consulting#Crisis-Communication"
          >CRISIS COMMUNICATIONS</a
        >
      </p>
      <p class="ac-text hover:text-blue border-y-[0.1px] border-lightgray">
        <a href="/Strategic_consulting/#new-industry"> NEW INDUSTRY INSIGHT</a>
      </p>
      <p class="ac-text hover:text-blue">
        <a href="/Strategic_consulting#multi-media"> MULTI-MEDIA</a>
      </p>
    </div>
  </div>
  <div class="ac">
    <h2 class="ac-header border-b-[0.1px] border-lightgray">
      <button type="button" class="ac-trigger hover:text-blue">CONTACT</button>
    </h2>
    <div class="ac-panel">
      <p class="ac-text hover:text-blue border-y-[0.1px] border-lightgray">
        <a href="/Contact ">BOOK FREE CONSULTATION</a>
      </p>
      <p class="ac-text hover:text-blue">
        <a href="/Contact#contact-items"> SPEAKING ENGAGEMENTS</a>
      </p>
    </div>
  </div>
</div>
<script>
  new Accordion(".accordion-container", { duration: 400 });
</script>
