---
import Accordion from "./accordion";
import "./accordion.css";
---

<div class="accordion-container">
  <a href="/About" class=""
    ><div
      class="border-t-[0.1px] border-lightgray hover:text-blue font-medium text-[14px] text-black py-[10px] px-[32px]"
    >
      ABOUT
    </div></a
  >
  <div class="ac">
    <h2 class="ac-header">
      <button type="button" class="ac-trigger hover:text-blue">
        VIDEO PRODUCTION</button
      >
    </h2>
    <div class="ac-panel">
      <a href="/Video_production">
        <p
          class="ac-text hover:text-blue cursor-pointer border-y-[0.1px] border-lightgray"
        >
          CORPORATE VIDEOS
        </p></a
      >
      <a href="/Video_production/#Legal">
        <p class="ac-text hover:text-blue">LEGAL VIDEOS</p></a
      >
    </div>
  </div>

  <div class="ac">
    <h2 class="ac-header">
      <button type="button" class="ac-trigger hover:text-blue">
        MEDIA TRAINING/COACHING</button
      >
    </h2>
    <div class="ac-panel">
      <a href="/Media_training"
        ><p class="ac-text hover:text-blue border-y-[0.1px] border-lightgray">
          FOR LEADERS
        </p></a
      >
      <a href="/Media_training/#for-journalists">
        <p class="ac-text hover:text-blue">FOR JOURNALISTS</p></a
      >
    </div>
  </div>

  <div class="ac">
    <h2 class="ac-header">
      <button type="button" class="ac-trigger hover:text-blue">
        STRATEGIC CONSULTING</button
      >
    </h2>
    <div class="ac-panel">
      <a href="/Strategic_consulting/#Earned ">
        <p class="ac-text hover:text-blue border-y-[0.1px] border-lightgray">
          EARNED MEDIA
        </p></a
      >
      <a href="/Strategic_consulting#crisis">
        <p class="ac-text hover:text-blue">CRISIS COMMUNICATIONS</p></a
      >
      <a href="/Strategic_consulting/#new-industry">
        <p class="ac-text hover:text-blue border-y-[0.1px] border-lightgray">
          NEW INDUSTRY INSIGHT
        </p></a
      >
      <a href="/Strategic_consulting#multi-media">
        <p class="ac-text hover:text-blue">MULTI-MEDIA</p></a
      >
    </div>
  </div>
  <div class="ac">
    <h2 class="ac-header border-b-[0.1px] border-lightgray">
      <button type="button" class="ac-trigger hover:text-blue"
        >CONTACT US</button
      >
    </h2>
    <div class="ac-panel">
      <a href="/Contact ">
        <p class="ac-text hover:text-blue border-y-[0.1px] border-lightgray">
          BOOK FREE CONSULTATION
        </p></a
      >
      <a href="/Contact/#send-message">
        <p class="ac-text hover:text-blue">SEND US A MESSAGE</p></a
      >
    </div>
  </div>
</div>
<script>
  new Accordion(".accordion-container", { duration: 400 });
</script>
