.splide__slide {
  display: flex;
  justify-content: center;
  width: auto;
  margin-left: 15px !important;
}
.slider_ThreeBoxes img {
  height: 80px;
  object-fit: contain;
}
.splide__pagination {
  /* bottom: -39px !important; */
  top: 138px !important;
  /* bottom: 13px !important; */
}
.splide__pagination__page {
  background: #666464 !important;
}

.splide__arrow img {
  z-index: -1;
}

@media screen and (max-width: 500px) {
  .slider_ThreeBoxes {
    width: calc(100%) !important;
  }
}
@media screen and (min-width: 700px) {
  .slider_ThreeBoxes {
    width: calc(45%) !important;
  }
}
@media screen and (min-width: 800px) {
  .slider_ThreeBoxes {
    width: calc(31.5%) !important;
  }
}
