---
import "./Client.css";
import { Logo1, Logo2, Logo3, University } from "@utils/images";
import { Image } from "@utils/Components";
import ClientLogo from "../../assets/ClientFirstLogo.webp";
---

<section
  class="border-b-[0.1px] border-lightgray lg:pt-10 lg:pb-14 sm:pt-10 sm:pb-10"
>
  <h2
    class="lg:text-4xl md:text-2xl sm:text-2xl font-[Poppins] text-center font-black"
  >
    Clients
  </h2>
  <div
    id="image-carousel"
    class="splide text-center lg:container lg:mx-auto md:px-14 sm:px-6 lg:w-[100%] sm:w-full"
    aria-label="Beautiful Images"
  >
    <div class="splide__track lg:pt-10 lg:pb-0 sm:pt-16 sm:pb-10">
      <ul class="splide__list space-x-6">
        <li class="splide__slide slider_ThreeBoxes">
          <Image src={ClientLogo} alt="" />
        </li>

        <li class="splide__slide slider_ThreeBoxes">
          <Image src={Logo3} alt="" />
        </li>
        <li class="splide__slide slider_ThreeBoxes">
          <Image src={University} alt="" />
        </li>
      </ul>
    </div>
  </div>
</section>

<script>
  import Splide from "@splidejs/splide";
  document.addEventListener("DOMContentLoaded", function () {
    var splide = new Splide("#image-carousel", {
      type: "loop",
      perPage: 4,
      perMove: 1,
      arrows: false,
      trimSpace: true,
      autoplay: true,
      pagination: false,
      speed: 1200,
      arrowPath:
        "M4,20A16,16,0,1,0,20.1,4,16,16,0,0,0,4,20Zm14.9-7L25,19.1l.5.8c0,.6-.4.8-.6,1.1l-6.1,6c-.3.4-.7,1-1.4.4s.2-1.1.5-1.4,3.4-3.5,5.2-5.2.7-1,0-1.6L18,14c-.4-.3-1.1-.7-.6-1.4S18.5,12.6,18.9,13Z",
      breakpoints: {
        8000: {
          perPage: 3,
        },
        1700: {
          perPage: 3,
        },

        800: {
          perPage: 2,
        },
        600: {
          perPage: 1,
        },
      },
    });
    splide.mount();
  });
</script>
