.splide__slide {
  display: flex;
  justify-content: center;
  width: auto;
}
.slider_ThreeBoxes img {
  height: 80px;
  object-fit: contain;
}
.splide__pagination {
  /* bottom: -39px !important; */
  top: 138px !important;
  /* bottom: 13px !important; */
}
.splide__pagination__page {
  background: #666464 !important;
}

.slider_ThreeBoxes {
  width: calc(30%) !important;
}
/* .splide__arrow img {
  height: 100px;
} */
