---
import { ContactBanner } from "@utils/images";
import {
  BackGroundImage,
  HTML,
  FreeConsultation,
  FormContact,
} from "@utils/Components";
---

<Fragment>
  <HTML>
    <BackGroundImage imageSource={ContactBanner} text="CONTACT" />
    <div id="contact-items"></div>
    <div
      class="flex lg:flex-col md:flex-col sm:flex-col lg:container justify-center items-center md:container lg:px-0 mx-auto lg:py-16 lg:space-y-24 md:py-12 sm:py-12 md:space-y-24 sm:space-y-20"
      id="free-consultation"
    >
      <div
        class="object-contain lg:w-[80%] md:w-full border border-[#d8d4d4] shadow-xl sm:pt-0 sm:py-12 lg:py-0 lg:pb-0 sm:w-full md:py-10 space-y-9"
      >
        <FreeConsultation />
      </div>
      <div
        class="lg:w-full border border-[#d8d4d4] py-6 space-y-9 shadow-xl"
        id="send-message"
      >
        <FormContact client:visible />
      </div>
    </div>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
  </HTML>
</Fragment>
