---
import { ContactBanner } from "@utils/images";
import {
  BackGroundImage,
  HTML,
  FreeConsultation,
  FormContact,
} from "@utils/Components";
---

<Fragment>
  <HTML>
    <BackGroundImage imageSource={ContactBanner} text="CONTACT" />
    <div id="contact-items"></div>
    <section class="lg:container lg:mx-auto">
      <div
        class="grid lg:grid-cols-2 lg:mx-0 md:mx-10 sm:mx-3 lg:py-10 sm:py-0 sm:pb-20 sm:justify-items-center"
        id="free-consultation"
      >
        <FreeConsultation />
        <section
          class="flex sm:flex-col items-center md:w-full sm:wi-full lg:py-0 md:py-10 sm:py-0 lg:pt-0 sm:pt-16 lg:border-l-[0.1px] border-lightgray"
        >
          <div
            class="xl:mx-[100px] lg:mx-[50px] md:w-full sm:w-[90%]"
            id="send-message"
          >
            <h2
              class="lg:text-4xl md:text-2xl sm:text-2xl font-[Poppins] text-center font-black lg:pb-6 md:pb-14 sm:pb-14"
            >
              SEND US A MESSAGE
            </h2>
            <div class="">
              <FormContact client:visible />
            </div>
          </div>
        </section>
      </div>
    </section>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
  </HTML>
</Fragment>
