---
import Client from "@components/Client/Client.astro";
import {
  Testinomials,
  FormContact,
  FreeConsultation,
  Movie,
  ServicesBoxes,
  Heading,
} from "@utils/Components";
---

<Movie />
<ServicesBoxes />
<Testinomials />
<Client />
<div class="lg:container lg:mx-auto">
  <div
    class="grid lg:grid-cols-2 gap-24 lg:mx-0 md:mx-10 sm:mx-3 lg:py-10 sm:py-0 sm:pb-20"
  >
    <FreeConsultation />
    <section class="border-l-[0.1px] border-lightgray">
      <div class="flex flex-col justify-between lg:mx-[100px]">
        <Heading
          Heading="SEND US A MESSAGE"
          id="free-consultation"
          style="text-center lg:pt-0 sm:pt-10 md:pb-0 sm:pb-6"
        />
        <FormContact client:visible />
      </div>
    </section>
    <!-- <div
      class="lg:w-[50%] md:w-full sm:w-full lg:py-6 md:py-10 sm:py-5 space-y-9 lg:px-6 md:px-4 sm:px-4"
    >
      <h2
        class="lg:text-4xl md:text-2xl sm:text-2xl font-[Poppins] text-center font-black pb-10"
      >
        SEND US A MESSAGE
      </h2>
      
    </div> -->
  </div>
</div>
