---
import {
  Testinomials,
  FormContact,
  FreeConsultation,
  Movie,
  ServicesBoxes,
} from "@utils/Components";
---

<Movie />
<ServicesBoxes />
<Testinomials />
<div
  class="lg:mx-0 md:mx-10 sm:mx-3 lg:py-0 sm:py-0 sm:pb-20 flex flex-col items-center"
>
  <FreeConsultation />
  <FormContact client:visible />
</div>
