---
const { imageSource, heading1, text, id } = Astro.props;
import { Image } from "astro:assets";
---

<Fragment>
  <section class="">
    <div class="w-full relative lg:h-[60vh] md:h-[40vh] sm:h-[40vh]">
      <Image
        src={imageSource}
        alt="about pic"
        class="absolute top-0 w-full h-full object-cover"
      />
      <div
        class="absolute w-full h-full flex flex-col justify-center top-0 max-w-[100%] items-center bg-semiblack space-y-3"
      >
        <h2
          class="text-white font-[Poppins] lg:text-5xl md:text-4xl sm:text-4xl font-bold"
        >
          {heading1}
        </h2>
        <h2
          class="text-white font-[Poppins] lg:text-5xl md:text-4xl sm:text-4xl font-bold"
        >
          {text}
        </h2>
      </div>
      <div id={id}></div>
    </div>
  </section>
</Fragment>
