---

---

<!-- Calendly badge widget begin -->
<div class="flex justify-start static">
  <!-- Calendly badge widget begin -->
  <link
    href="https://assets.calendly.com/assets/external/widget.css"
    rel="stylesheet"
  />
  <script
    src="https://assets.calendly.com/assets/external/widget.js"
    type="text/javascript"
    async></script>
  <script type="text/javascript">
    window.onload = function () {
      Calendly.initBadgeWidget({
        url: "https://calendly.com/bilal-pasha/book-free-consultation",
        text: "Book a free Consultation",
        color: "#0069ff",
        textColor: "#ffffff",
        position: "static",
      });
    };
  </script>
  <!-- Calendly badge widget end -->
</div>
<!-- Calendly badge widget end -->
