---
import { AiOutlineCopyrightCircle } from "@react-icons/all-files/ai/AiOutlineCopyrightCircle";
---

<Fragment>
  <footer class="bg-black text-white py-5">
    <div class="flex items-center justify-center">
      <h2
        class="flex items-center space-x-6 lg:text-base sm:text-xs lg:font-medium sm:font-semibold"
      >
        <AiOutlineCopyrightCircle class="mx-1" />
         2023 Media Advisory Experts
      </h2>
    </div>
  </footer>
</Fragment>
