---
import { Image, Heading } from "@utils/Components";
import { ForLeadersText } from "@utils/images";
import { LeadersImagesData } from "@utils/Data";
---

<Heading
  Heading="FOR LEADERS"
  style="sm:text-center lg:pt-14 lg:pb-10 sm:py-20"
  id="for-LEADERS"
/>
<section class="lg:container lg:mx-auto">
  <div
    class="flex lg:flex-row md:flex-col sm:flex-col lg:items-start sm:items-center lg:justify-evenly lg:space-x-24 lg:py-10 lg:mx-[100px] md:mx-[40px] sm:mx-6"
  >
    <div class="flex flex-col gap-10 lg:py-4">
      {
        LeadersImagesData.map((data) => {
          return (
            <Image
              src={data.ImageSource}
              alt="image"
              width="400"
              class="rounded-2xl hover:scale-[1.1] ease-in-out transition-all duration-[600ms]"
            />
          );
        })
      }
    </div>
    <div
      class="lg:text-xl md:text-base lg:max-w-[40%] md:max-w-[80%] sm:max-w-[100%] text-left space-y-5 lg:py-2 sm:py-10 md:py-20"
    >
      <ForLeadersText />
    </div>
  </div>
</section>
