---
import { Image } from "astro:assets";
import SpeakingEngagements from "../assets/SpeakingEngagements.jpeg";
import SpeakingEngagementText from "../layouts/MDX/About/SpeakingEngagementsText.md";
---

<Fragment>
  <h2
    class="text-center text-2xl lg:py-3 sm:pt-14 sm:pb-6 font-[Poppins] font-semibold"
  >
    SPEAKING ENGAGEMENTS
  </h2>
  <Image src={SpeakingEngagements} alt="image" />
  <SpeakingEngagementText />
</Fragment>
