---
import { Image } from "astro:assets";
import SpeakingEngagements from "../assets/SpeakingEngagements.jpeg";
---

<Fragment>
  <h2
    class="text-center text-2xl lg:py-3 sm:pt-14 sm:pb-6 font-[Poppins] font-semibold"
  >
    SPEAKING ENGAGEMENTS
  </h2>
  <Image src={SpeakingEngagements} alt="image" />
  <p class="lg:text-xl md:text-base text-justify">
    <span class="font-[Poppins] font-bold"> Media Advisory Experts</span>
     founder Mark Albert is available for speaking engagements. He’s given
    tailored remarks on current events, media industry analysis, and insightful
    travel tips gleaned from visiting 83 countries to government leaders,
    private companie s, and while emceeing community events.
  </p>
</Fragment>
