---
export interface Props {
  data: any;
}
import "@splidejs/splide/css";

import { Image } from "astro:assets";
import TestimonialImage from "../testimonials-icon.png";
import ContentLoop from "./ContentLoop";
const { data } = Astro.props;
---

<li
  class="splide__slide box-border shrink-0 list-none m-0 z-0 overflow-hidden p-2"
>
  <div
    class="flex flex-col relative lg:container mx-auto justify-around items-center gap-4 lg:pb-6 md:py-10 sm:py-10 lg:h-[26rem] lg:w-[85%] sm:w-[90%] sm:h-auto sm:max-w-full bg-white p-4"
  >
    <div class="flex justify-between lg:max-w-[75%]">
      <div class="flex flex-col space-y-6">
        <div class="flex justify-center pb-6">
          <Image src={TestimonialImage} width="70" alt="ddaa" />
        </div>
        <ContentLoop data={data} client:load />
      </div>
    </div>
  </div>
</li>
