---
import { initializeApp } from "firebase/app";
import { getFirestore, collection, getDocs } from "firebase/firestore";
// import CarouselSlider from "../Testimonials/CarouselSlider.jsx";
import AliceCarousel from "./AliceCarousel.astro";
import { Heading } from "@utils/Components";

const firebaseConfig = {
  apiKey: "AIzaSyBq8-RG6mhrMLiziMwTd1Sv67GbJOi_VrY",
  authDomain: "composed-world-393911.firebaseapp.com",
  projectId: "composed-world-393911",
  storageBucket: "composed-world-393911.appspot.com",
  messagingSenderId: "690324972945",
  appId: "1:690324972945:web:d6c8b66ff2cffd3745e630",
  measurementId: "G-7PRP65ENKB",
};
initializeApp(firebaseConfig);
const db = getFirestore();
const colRef = collection(db, "testimonials");
const data = await getDocs(colRef)
  .then((review) => {
    const updatedData = review.docs.map((doc) => {
      return { ...doc.data(), id: doc.id };
    });

    const sortedvalue = updatedData.sort((a, b) => a.Order - b.Order);
    return sortedvalue;
  })
  .catch((err) => {
    console.log(err.message);
  });
// console.log(data);
---

<Fragment>
  <section class="lg:py-20 md:py-0 sm:pt-20 sm:pb-0 sm:my-0 lg:pb-10 lg:pt-10">
    <div class="lg:container mx-auto">
      <div>
        <Heading
          Heading="Testimonials"
          style="text-center pb-5"
          id="testimonials"
        />
      </div>
      <AliceCarousel data={data} />
    </div>
  </section>
</Fragment>
