---
import { getFirestore, collection, getDocs } from "firebase/firestore";
import AliceCarousel from "./AliceCarousel.astro";
import { Heading } from "@utils/Components";
import { app } from "@utils/Components";
import JsonText from "../../layouts/Heading/heading.json";

const db = getFirestore(app);
const colRef = collection(db, "testimonials");
const data = await getDocs(colRef)
  .then((review) => {
    const updatedData = review.docs.map((doc) => {
      return { ...doc.data(), id: doc.id };
    });

    const sortedvalue = updatedData.sort((a, b) => a.Order - b.Order);
    return sortedvalue;
  })
  .catch((err) => {
    console.log(err.message);
  });
---

<Fragment>
  <section class="border-y-[0.1px] border-lightgray py-8">
    <div class="">
      <Heading
        Heading={JsonText.home.ClientFeedBackTitle}
        style="text-center lg:mb-2 sm:mb-4"
        id="testimonials"
      />
    </div>
    <div class="sm:my-0">
      <div
        class="lg:container mx-auto flex flex-col justify-center items-center">
        <AliceCarousel data={data} />
      </div>
    </div>
  </section>
</Fragment>
