---
import DefaultLayout from "../defaultLayout/defaultLayout.astro";
import "./index.css";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://firebasestorage.googleapis.com/v0/b/composed-world-393911.appspot.com/o/logo2.png?alt=media&token=18f72f92-104a-4107-95ab-cf4f599efe3a&_gl=1*1i9dqpt*_ga*NzMyOTIyOTM2LjE2OTUyMDcwOTg.*_ga_CW55HF8NVT*MTY5ODA0MjgzNy40NC4xLjE2OTgwNDI4NTMuNDQuMC4w"
    />
    <title>{title}</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script
      src="https://assets.calendly.com/assets/external/widget.js"
      type="text/javascript"
      async></script>
    <link
      href="https://assets.calendly.com/assets/external/widget.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Croissant+One&display=swap"
    />
    <script src="https://unpkg.com/accordion-js@3.3.4/dist/accordion.min.js"
    ></script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Poppins:wght@500&family=Raleway:wght@500&family=Roboto:ital,wght@0,300;1,300&display=swap");
    </style>
  </head>
  <body>
    <DefaultLayout>
      <slot />
    </DefaultLayout>
  </body>
</html>
