.splide__arrow {
  background: transparent !important;
}
.splide__arrow:nth-child(1) {
  transform: rotate(180deg) !important;
}
.splide__arrow svg {
  fill: #1e90ff !important;
  transform: translateY(40%) !important;
}
html {
  scroll-behavior: smooth;
}

/* .splide__list {
  transform: translateX(-890px) !important;
} */
